- @sitename


!!! 5
%html{html_attrs}
  %head
    %title= @title
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}
    %script{:type => "text/javascript", :src => "javascripts/iscroll.js"}
    %script{:src => "javascripts/prototype.js", :type => "text/javascript"}
    %script{:src => "javascripts/scriptaculous.js?load=effects,builder", :type => "text/javascript"}
    %script{:src => "javascripts/lightbox.js", :type => "text/javascript"}
    %link{:href => "stylesheets/lightbox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:type => "text/javascript"}

    %style{:media => "all", :type => "text/css"}


  %body{:onorientationchange =>"ipadFunc();"}
  .bg2
  .bg1
  .header
  .logo
  .menu-container
    %ul.menu
      %li
        %a{:href => "#", :id => "main-1-link"} HOME
        .menu-hl
      %li
        %a{:href => "#", :id => "main-2-link"} TEAM
        .menu-hl
      %li
        %a{:href => "#", :id => "main-3-link"} SERVICES
        .menu-hl
      %li
        %a{:href => "#", :id => "main-4-link"} PORTFOLIO
        .menu-hl
      %li
        %a{:href => "#", :id => "main-5-link"} CONTACT
        .menu-hl
      //%li
      //  %a{:href => "#", :id => "main-6-link"} CONTACT
      //  .menu-hl
      //%li
      //  %a{:href => "#", :id => "main-8-link"} DISTRIBUTORS
      //  .menu-hl{:style => "margin-left:-8px;"}
  .content-container#page1
    #page-1-content
      .page-title Home
      %ul.submenu{:style => "opacity: 0;"}
        %li.dark-blue#page1-sub1
          %a{:href => "#"} About us
        //%li.blue#page1-sub2
        //  %a{:href => "#"} Our Missions
        %li.blue#page1-sub3
          %a{:href => "#"} Culture
      .content-type-1#page1-sub1-page
        %image{:width => "700px", :height => "357px", :src => "/images/content_pic_1.jpg"}
        .box-text-long
          %h2 Who we are
          %p Eclipse Design and Construction is the Houston-based architectural design and drafting firm of Miguel Alvarado. Since 2003, Eclipse's mission has been to create elegant and functional commercial and residential designs for clients at affordable pricing. Each and every project that Eclipse takes on is an opportunity to create uniqueness and beauty, thereby exceeding the expectations of the client.
          %p The cornerstone of Eclipse Design is the firm's belief in serving the client, and fulfilling all of his needs when it comes to anything related to the entire property. It is the philosophy at Eclipse Design to maintain long-term relationships with its clients, and to be of assistance even after the project is completed. 
          %p We are passionate about our work. 
          %p We care about each project like it is our very own.
        .box-text-short
          %p.slogan Architectural Design & Innovation
      .content-type-1#page1-sub3-page
        %image{:width => "700px", :height => "150px", :src => "/images/content_pic_3.jpg"}
        .box-text-long
          %h2 Culture
          %p At Kirksey, we are lucky to work with such talented, earth-conscious, fun, and friendly people. On any given day (especially in the non-summer months), you will find us on the outdoor patio having lunch together, having team meetings, or perhaps enjoying a creative respite from the busy-ness inside. It's also not uncommon to see John Kirksey walking the campus, checking every tree and shrub to make sure they are thriving
          %p In addition to great co-workers and a fun, healthy, and collaborative work environment, Kirksey values the personal and professional development of each employee by supporting individual initiative and ambition. It is this empowerment and freedom to grow that foster many long-term careers at Kirksey.
        .box-text-short
          %p.slogan Architectural Design & Innovation
  .content-container#page2
    #page-2-content
      .page-title Our Team
      %ul.submenu{:style => "opacity: 0;"}
        %li.dark-blue#page2-sub1
          %a{:href => "#"} 
      .content-type-1#page2-sub1-page
        %image{:width => "700px", :height => "300px", :src => "/images/content_pic_4.jpg"}
        .box-text-long
          %h2 Lead by example
          %p Eclipse Design and Construction understands the delicate mix between elegant architecture and function. Our team combines an in-depth understanding of manual and computer drafting procedures with techniques focusing upon functional design that are important to successful draftsmanship. We believe that architecture is a means to inspire, to unite and to create lasting art forms for generations to come. We put our passion, our spirit and our creativity into every project we touch.
        .box-text-short
          %p.slogan Integrity and Professionalism
  .content-container#page3
    #page-3-content
      .page-title Services
      %ul.submenu{:style => "opacity: 0;"}
        %li.dark-blue#page3-sub1
          %a{:href => "#"} 
      .content-type-1#page3-sub1-page
        %image{:width => "700px", :height => "150px", :src => "/images/content_pic_3.jpg"}
        .box-text-long
          %p Our professional, passionate and talented team has worked with a vast array of architectural creations, including educational and arts institutions, libraries, offices, residential areas, commercial and retail space, and community facilities. We draft blue prints for general contractors, and help to facilitate the process so that everything goes smoothly when it is time to build.
          %h2 Drafting
          %p Eclipse specializes in drafting procedures, both manually and electronically with techniques that concentrate on beauty and functional design that are important and essential to the success of buildings.
          %h2 Mechanical Plans
          %p Eclipse Design and its team is expertly trained in design as well as the engineering of buildings. We are experienced at designing and creating plumbing plans, electrical plans, foundation plans, structural plans, and civil engineering designs, such as drainage systems.
          %h2 Building
          %p Eclipse works as a general contractor and is able to build any blue print that we design.
          %h2 Permits
          %p Eclipse Design is experienced in obtaining construction permits from any city in which we are working.
        .box-text-short
          %p.slogan Design to impress & Build to last
  .content-container#page4
    #page-4-content
      .page-title Portfolio
      %ul.submenu
        %li.dark-blue#page4-sub1
          %a{:href => "#"} Gallery
        %li.blue#page4-sub2
          %a{:href => "#"} Blueprints
      .content-type-1#page4-sub1-page
        %image{:width => "700px", :height => "150px", :src => "/images/content_pic_6.jpg"}
        .box-text-half
          %h2 Jose Villa Real House
          %a{:href => "/images/pics/joseVillarealHouse/1_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/1.jpg"} 
          %a{:href => "/images/pics/joseVillarealHouse/2_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/2.jpg"} 
          %a{:href => "/images/pics/joseVillarealHouse/3_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/3.jpg"} 
          %a{:href => "/images/pics/joseVillarealHouse/4_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/4.jpg"}
          %a{:href => "/images/pics/joseVillarealHouse/5_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/5.jpg"}
          %a{:href => "/images/pics/joseVillarealHouse/6_big.jpg", :rel => "lightbox[joseVillarealHouse]"} 
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/6.jpg"}
          %a{:href => "/images/pics/joseVillarealHouse/7_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/7.jpg"} 
          %a{:href => "/images/pics/joseVillarealHouse/8_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/8.jpg"} 
          %a{:href => "/images/pics/joseVillarealHouse/9_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/9.jpg"} 
          %a{:href => "/images/pics/joseVillarealHouse/10_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/10.jpg"}
          %a{:href => "/images/pics/joseVillarealHouse/11_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/11.jpg"}
          %a{:href => "/images/pics/joseVillarealHouse/12_big.jpg", :rel => "lightbox[joseVillarealHouse]"} 
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/12.jpg"}
          %a{:href => "/images/pics/joseVillarealHouse/13_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/13.jpg"} 
          %a{:href => "/images/pics/joseVillarealHouse/14_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/14.jpg"} 
          %a{:href => "/images/pics/joseVillarealHouse/15_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/15.jpg"} 
          %a{:href => "/images/pics/joseVillarealHouse/16_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/16.jpg"}
          %a{:href => "/images/pics/joseVillarealHouse/17_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/17.jpg"}
          %a{:href => "/images/pics/joseVillarealHouse/18_big.jpg", :rel => "lightbox[joseVillarealHouse]"} 
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/18.jpg"}
          %a{:href => "/images/pics/joseVillarealHouse/19_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/19.jpg"} 
          %a{:href => "/images/pics/joseVillarealHouse/20_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/20.jpg"} 
          %a{:href => "/images/pics/joseVillarealHouse/21_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/21.jpg"} 
          %a{:href => "/images/pics/joseVillarealHouse/22_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/22.jpg"}
          %a{:href => "/images/pics/joseVillarealHouse/23_big.jpg", :rel => "lightbox[joseVillarealHouse]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/23.jpg"}
          %a{:href => "/images/pics/joseVillarealHouse/24_big.jpg", :rel => "lightbox[joseVillarealHouse]"} 
            %image{:width => "45px", :height => "100px", :src => "/images/pics/joseVillarealHouse/24.jpg"}
        .box-text-half{:style => "border-right: 0px solid #DAD7C5;margin-left: 20px"}
          %h2 Antoine Store
          %a{:href => "/images/pics/antoineStore/1_big.jpg", :rel => "lightbox[antoineStore]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/antoineStore/1.jpg"} 
          %a{:href => "/images/pics/antoineStore/2_big.jpg", :rel => "lightbox[antoineStore]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/antoineStore/2.jpg"} 
          %a{:href => "/images/pics/antoineStore/3_big.jpg", :rel => "lightbox[antoineStore]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/antoineStore/3.jpg"} 
          %a{:href => "/images/pics/antoineStore/4_big.jpg", :rel => "lightbox[antoineStore]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/antoineStore/4.jpg"}
          %a{:href => "/images/pics/antoineStore/5_big.jpg", :rel => "lightbox[antoineStore]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/antoineStore/5.jpg"}
          %a{:href => "/images/pics/antoineStore/6_big.jpg", :rel => "lightbox[antoineStore]"} 
            %image{:width => "45px", :height => "100px", :src => "/images/pics/antoineStore/6.jpg"}
          %h2 White Oaks Store
          %a{:href => "/images/pics/whiteOaksStore/1_big.jpg", :rel => "lightbox[whiteOaksStore]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/whiteOaksStore/1.jpg"} 
          %a{:href => "/images/pics/whiteOaksStore/2_big.jpg", :rel => "lightbox[whiteOaksStore]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/whiteOaksStore/2.jpg"} 
          %a{:href => "/images/pics/whiteOaksStore/3_big.jpg", :rel => "lightbox[whiteOaksStore]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/whiteOaksStore/3.jpg"} 
          %a{:href => "/images/pics/whiteOaksStore/4_big.jpg", :rel => "lightbox[whiteOaksStore]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/whiteOaksStore/4.jpg"}
          %a{:href => "/images/pics/whiteOaksStore/5_big.jpg", :rel => "lightbox[whiteOaksStore]"}
            %image{:width => "45px", :height => "100px", :src => "/images/pics/whiteOaksStore/5.jpg"}
          %a{:href => "/images/pics/whiteOaksStore/6_big.jpg", :rel => "lightbox[whiteOaksStore]"} 
            %image{:width => "45px", :height => "100px", :src => "/images/pics/whiteOaksStore/6.jpg"}
      .content-type-1#page4-sub2-page
        %image{:width => "700px", :height => "150px", :src => "/images/content_pic_2.png"}
        .box-text-half
          %h2 Antoine Store
          %a.download{:href => "/images/pdf/antonieGasStation/fireCodeDesign.pdf", :target => "_blank"}Fire Code Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/antonieGasStation/floorPlanDesign.pdf", :target => "_blank"}Floor Plan Design - Download (PDF)
          %br
          %br
          %h2 Anahuac Convenience Store
          %a.download{:href => "/images/pdf/anahuacConvenienceStore/civilDesign.pdf", :target => "_blank"}Civil Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/anahuacConvenienceStore/floorPlanDesign.pdf", :target => "_blank"}Floor Plan Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/anahuacConvenienceStore/fundationFloorPlan.pdf", :target => "_blank"}Foundation Floor Plan - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/anahuacConvenienceStore/plumbingDesign1.pdf", :target => "_blank"}Plumbing Design #1 - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/anahuacConvenienceStore/plumbingDesign2.pdf", :target => "_blank"}Plumbing Design #2 - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/anahuacConvenienceStore/structuralDesign.pdf", :target => "_blank"}Structural Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/anahuacConvenienceStore/stucturalCanopyDesign.pdf", :target => "_blank"}Structural Canopy Design - Download (PDF)
          %br
          %br
          %h2 Build Out
          %a.download{:href => "/images/pdf/buildout/Electrical Diagrams E-4.pdf", :target => "_blank"}Electrical Diagrams - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout/Electrical Loads E-3.pdf", :target => "_blank"}Electrical Loads - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout/Electrical Plans E-1.pdf", :target => "_blank"}Electrical Plan #1 - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout/Electrical Plans E-2.pdf", :target => "_blank"}Electrical Plan #2 - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout/Health Plans.pdf", :target => "_blank"}Health Plans - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout/Hood Designs for Restaurants.pdf", :target => "_blank"}Hood Designs for Restaurant - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout/Mechanical Designs Air Condition Design.pdf", :target => "_blank"}Mechanical Designs Air Condition - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout/Plumbing Plans Designs.pdf", :target => "_blank"}Plumbing Plans Designs - Download (PDF)
          %br
          %br
          %h2 White Oak Gas Station
          %a.download{:href => "/images/pdf/whiteOakGasStation/ELECTRICAL DESIGNS.pdf", :target => "_blank"}Electrical Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/whiteOakGasStation/FLOOR PLAN DESIGN.pdf", :target => "_blank"}Floor Plan Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/whiteOakGasStation/PLUMBING DESIGNS.pdf", :target => "_blank"}Plumbing Floor Plan - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/whiteOakGasStation/STRUCTURAL CANOPY DESIGNS.pdf", :target => "_blank"}Structural Canopy Design - Download (PDF)
        .box-text-half{:style => "border-right: 0px solid #DAD7C5;margin-left: 20px"}
          %h2 Build Out (La Botana)
          %a.download{:href => "/images/pdf/buildout(LaBotana)/ELECTRICAL DESIGN.pdf", :target => "_blank"}Electrical Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout(LaBotana)/FLOOR PLAN.pdf", :target => "_blank"}Floor Plan - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout(LaBotana)/HEALTH PLAN.pdf", :target => "_blank"}Health Plan - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout(LaBotana)/HOOD DESIGN.pdf", :target => "_blank"}Hood Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout(LaBotana)/LOAD ANALYSIS DESIGNS.pdf", :target => "_blank"}Load Analysis - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout(LaBotana)/LOAD ELECTRICAL DESIGNS.pdf", :target => "_blank"}Load Electrical Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout(LaBotana)/MECHANICAL DESIGN.pdf", :target => "_blank"}Mechanical Designs - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/buildout(LaBotana)/POWER DESIGN.pdf", :target => "_blank"}Power Design - Download (PDF)
          %br
          %br
          %h2 Kirbville Warehouse
          %a.download{:href => "/images/pdf/kirbivilleWarehouse/DIAGRAM LOADS.pdf", :target => "_blank"}Electrical Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/kirbivilleWarehouse/ELECTRICAL DESIGN.pdf", :target => "_blank"}Floor Plan - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/kirbivilleWarehouse/ELECTRICAL LOADS.pdf", :target => "_blank"}Health Plan - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/kirbivilleWarehouse/ELEVATION DESIGN.pdf", :target => "_blank"}Hood Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/kirbivilleWarehouse/FLOOR PLAN DESIGN.pdf", :target => "_blank"}Load Analysis - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/kirbivilleWarehouse/SITE PLAN DESIGN.pdf", :target => "_blank"}Load Electrical Design - Download (PDF)
          %br
          %br
          %h2 Patio Design
          %a.download{:href => "/images/pdf/patioDesign/FOUNDATION PATIO DESIGNS.pdf", :target => "_blank"}Foundation & Patio Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/patioDesign/STRUCTURAL DESIGN.pdf", :target => "_blank"}Structural Design - Download (PDF)
          %br
          %br
          %br
          %h2 Tierra Caliente Bakery
          %a.download{:href => "/images/pdf/TierraCalienteBakery/FLOOR PLAN DESIGN.pdf", :target => "_blank"}Floor Plan Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/TierraCalienteBakery/HEALTH DESIGN.pdf", :target => "_blank"}Health Design - Download (PDF)
          %br
          %a.download{:href => "/images/pdf/TierraCalienteBakery/WALKING COOLER DESIGNS.pdf", :target => "_blank"}Walking Cooler Design - Download (PDF)
          %br
  .content-container#page5
    #page-5-content
      .page-title Contact
      %ul.submenu{:style => "opacity: 0;"}
        %li.dark-blue#page5-sub1
          %a{:href => "#"} 
      .content-type-1#page5-sub1-page
        %image{:width => "700px", :height => "300px", :src => "/images/content_pic_7.jpg"}
        .box-text-half{:style => "border-right: 0px solid #DAD7C5;"}
          %p If you have any questions, comments or inquiries, please feel free to contact us. We are looking forward to serving you!
          %h2 Phone
          %p 713-233-1600
          %h2 Email
          %p ctgore@sbcglobal.net
          %h2 Address 
          %p 611 Houston Ave, HOUSTON, Texas 7007
        .box-contact
          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "500", :scrolling => "no", :src => "https://media3creative.wufoo.com/embed/w7w9q9/", :style => "width:310px;border:none"}

  .upper-footer
    All contents &copy; copyright 2010 - 2011  Eclipse. All rights reserved     |    Terms & conditions    |    Privacy policy    |    Terms of use     
  //footer
  // .footer-right
  //   %form#form1{:action => "", :method => "post", :name => "form1"}
  //     Sign up for our newsletter    |      Name:
  //     %input{:name => "text", :type => "text"}
  //     Email:
  //     %input{:name => "text", :type => "text"}
  //     %input{:name => "submit", :type => "button", :value => "Submit"}
  // .footer-left
  //   Powered by: media3creative.com
